name: Go

permissions:
  contents: read
  pull-requests: write
  checks: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.4'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./... -coverprofile=coverage.out -covermode=atomic

    - name: go-test-coverage
      # You may pin to the exact commit or the version.
      # uses: vladopajic/go-test-coverage@25e532f3851a634ecd07a4cad2a2645aee49fa7a
      uses: vladopajic/go-test-coverage@v2.18.1
      with:
        config: ./.testcoverage.yml
                
    #- name: Go Unit Test Coverage Report
    #  uses: fgrosse/go-coverage-report@v1.0.0          
