name: Go

permissions:
  contents: write
  pull-requests: write
  checks: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.4'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./... -coverprofile=coverage.out -covermode=atomic

    - name: Upload coverage artifact
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage
        path: coverage.out

    #- name: Go Coverage Report
    #  uses: fgrosse/go-coverage-report@v1.0.2
    #  with:
    #    coverage-artifact-name: "code-coverage"
    #    coverage-file-name: "coverage.out"
    #  env:
    #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: go-test-coverage
      uses: vladopajic/go-test-coverage@v2.18.1
      with:
        config: ./.testcoverage.yml
        git-token: ${{ secrets.GITHUB_TOKEN }}
        git-branch: ${{ github.head_ref || github.ref_name }}          
